body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #E6EBF5;
    
}

.container{
    margin-top: 80px;
    width: 1450px;
    background-color: white;
    padding: 60px;
    padding-right: 0px;
    margin-left: calc((100% - 1450px) / 2 );
    border-radius: 54px;
}
.top_section{
    width: 100%;
    position: relative;
}
.crop_header{
    width: 100%;
    line-height: 28px;
    
}
.crop_header > h1{
    display: inline-block;
    font-weight: lighter;
    margin-right: 52px;
}
.crop_header > h1 > span{
    font-weight: bold;
}
.crop_header > button{
    display: inline-block;
    padding: 10px;
    border-radius: 25px;
    font-weight: bold;
    line-height: 14px;
    border: none;    
}
.crop_header > button > img{
    width: 14px;
    padding-top: 3px;
}

.crops_boxes{
    width: 70%;
    float: left;
    padding: 20px 0 60px 0;
}
.crops_box:first-of-type{
    margin-left: 0;
}
.crops_box, .crops_button{
    box-sizing: content-box;
    display: inline-block;
    width: 47px;
    border: solid 1px #E6EBF5;
    border-radius: 43px;
    padding: 20px;
    text-align: center;
    margin-left: 20px;
}

.crops_box > img{
    width: 47px;
    height: 47px;
    margin-bottom: 10px;
}
.crops_box > h3{
    margin-bottom: 10px;
    font-size: 27px;
}
.crops_box > p{
    color: #9194B3;
    font-size: 22px;
}
.crops_button{
    padding: 5px;
    float: right;
    width: 75px;
    border: none;
    background-color: #6236FF;
    box-shadow: 0 37px 22px 0 rgb(98 54 255 / 33%), 0 6px 24px 0 rgb(98 54 255 / 20%);
}
.crops_button > div:first-of-type{
    color: white;
    line-height: 80px;
    font-size: 18px;
}
.crops_button > div:nth-of-type(2){
    background-color: white;
    line-height: 78px;
    border-radius: 39px;
    color: #6236FF;
    font-weight: bold;
    font-size: 37px;
}

.flower {
    float:right;
    width:30%;
    margin-left: 0;
}
.flower > img {
    display: inline-block;
    position:absolute;
    right: -58px;
    top: -22px;
}
.flower > h2 {
    right: 314px;
    display: inline-block;
    position: absolute;
    top: 50px;
    width: 30px;
    font-size: 35px;
    color: #69B245;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-stretch: extra-expanded;
}
.flower > h2 > span {
    font-weight: 500;
}

.mid_section {
    display: inline-block;
    width: 100%;
    position: relative;
}
.farm_camp, .statistics, .husbandry{
    display:inline-block;
    width: 30%;
    margin-right: 62px;
    
}

.farm_camp{
    
    border: solid 1px #E6EBF5;
    padding: 30px;
    border-radius: 30px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
}

.farm_camp > h2{
    font-size: 27px;
    margin-bottom: 16px;
}
.farm_camp > p{
    line-height: 26px;
    color: #8184A7;
    text-align: justify;
    font-size: 18px;
    width: 80%;
}
.farm_camp > img{
    position: absolute;
    bottom: -63px;
    left: 0px;
    width: 478px;
}

.statistics{
    margin: 0 calc((100% - 399px) / 2 );
}
.statistics > h2{
    display: inline-block;
    font-size: 27px;
    margin-bottom: 15px;
}
.statistics > button{
    float: right;
    padding: 10px;
    border-radius: 25px;
    font-weight: bold;
    line-height: 14px;
    border: none;   
}
.statistics > button > img{
    height: 14px;
    padding: 0 3px;
}

.statistics_box{
    display: inline-block;
    border-radius: 51px;
    width: 100%;
    padding: 25px 40px;
    margin-bottom: 20px;
}
.statistics_box:last-of-type{
    margin-bottom: 0;}

.statistics_box > img, .statistics_box > div{
    display: inline-block;
}
.statistics_box > img{
   width: 50px;

}
.statistics_box > p{
    float:right;
    line-height: 50px;
    font-size: 25px;
    font-weight: bold;
    margin-right: 15px;
}
.amount_usedW{color: #2297D2;}
.amount_usedT{color: #D79E22;}
.amount_usedF{color: #70A922;}

.statistics_box:first-of-type{
    background-color: #D8F8FF;
}
.statistics_box:nth-of-type(2){
    background-color: #FFF4CC;
}
.statistics_box:nth-of-type(3){
    background-color: #F2FFCC;
}
.statistics_box > div > h3, .statistics_box > div > p{
    font-size: 22px;
    margin-left: 26px;
}
.statistics_box > div > p{
    margin-top: 4px;
    font-size: 20px;
}
.husbandry{
    background-color: #6236FF;
    margin-right: 0;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right:0;
    border-radius: 56px;
    padding: 36px;
    color: white;
    font-size: 22px;
}

.husbandry > h2{
    font-weight: normal;
    margin-bottom: 15px;
}
.husbandry > p {
    font-size: 17px;
    color: #CABCFF;
    width: 149px;
    line-height: 25px;
}
.husbandry > img{
    position: absolute;
    right: -20px;
    bottom: -9px;
}

footer > img{
    background-color: #6236FF;
}

.footer_main{
    display: inline-block;
    background-color: #6236FF;
}